
.idea/misc.xml
msplt/__pycache__/lib.cpython-37.pyc
msplt/__pycache__/views.cpython-37.pyc
.idea/mymsplatform.iml
mymsplatform/__pycache__/urls.cpython-37.pyc
msplt/__pycache__/__init__.cpython-37.pyc
msplt/__pycache__/admin.cpython-37.pyc
msplt/__pycache__/apps.cpython-37.pyc
msplt/__pycache__/lib.cpython-37.pyc
msplt/__pycache__/models.cpython-37.pyc
msplt/__pycache__/views.cpython-37.pyc
msplt/migrations/__pycache__/0001_initial.cpython-37.pyc
msplt/migrations/__pycache__/0002_auto_20190919_1612.cpython-37.pyc
msplt/migrations/__pycache__/0003_auto_20190919_2154.cpython-37.pyc
msplt/migrations/__pycache__/__init__.cpython-37.pyc
mymsplatform/__pycache__/__init__.cpython-37.pyc
mymsplatform/__pycache__/settings.cpython-37.pyc
mymsplatform/__pycache__/wsgi.cpython-37.pyc
msplt/__pycache__/lib.cpython-37.pyc
msplt/__pycache__/views.cpython-37.pyc
msplt/__pycache__/lib.cpython-37.pyc
msplt/__pycache__/views.cpython-37.pyc
db.sqlite3
msplt/__pycache__/views.cpython-37.pyc
msplt/__pycache__/lib.cpython-37.pyc
