{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/sweetalert/sweetalert.css">
<!--<style>-->
<!--    /* 触发弹窗图片的样式 */-->
<!--    #myImg {-->
<!--        border-radius: 5px;-->
<!--        cursor: pointer;-->
<!--        transition: 0.3s;-->
<!--    }-->

<!--    #myImg:hover {opacity: 0.7;}-->

<!--&lt;!&ndash;    /* 弹窗背景 */&ndash;&gt;-->
<!--&lt;!&ndash;    .modal {&ndash;&gt;-->
<!--&lt;!&ndash;        display: none; /* Hidden by default */&ndash;&gt;-->
<!--&lt;!&ndash;        position: fixed; /* Stay in place */&ndash;&gt;-->
<!--&lt;!&ndash;        z-index: 1; /* Sit on top */&ndash;&gt;-->
<!--&lt;!&ndash;        padding-top: 100px; /* Location of the box */&ndash;&gt;-->
<!--&lt;!&ndash;        left: 0;&ndash;&gt;-->
<!--&lt;!&ndash;        top: 0;&ndash;&gt;-->
<!--&lt;!&ndash;        width: 100%; /* Full width */&ndash;&gt;-->
<!--&lt;!&ndash;        height: 100%; /* Full height */&ndash;&gt;-->
<!--&lt;!&ndash;        overflow: auto; /* Enable scroll if needed */&ndash;&gt;-->
<!--&lt;!&ndash;        background-color: rgb(0,0,0); /* Fallback color */&ndash;&gt;-->
<!--&lt;!&ndash;        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->

<!--    /* 图片 */-->
<!--    .modal-content {-->
<!--        margin: auto;-->
<!--        display: block;-->
<!--        width: 80%;-->
<!--        max-width: 700px;-->
<!--    }-->

<!--    /* 文本内容 */-->
<!--    #caption {-->
<!--        margin: auto;-->
<!--        display: block;-->
<!--        width: 80%;-->
<!--        max-width: 700px;-->
<!--        text-align: center;-->
<!--        color: #ccc;-->
<!--        padding: 10px 0;-->
<!--        height: 150px;-->
<!--    }-->

<!--    /* 添加动画 */-->
<!--    .modal-content, #caption {-->
<!--        -webkit-animation-name: zoom;-->
<!--        -webkit-animation-duration: 0.6s;-->
<!--        animation-name: zoom;-->
<!--        animation-duration: 0.6s;-->
<!--    }-->

<!--    @-webkit-keyframes zoom {-->
<!--        from {-webkit-transform:scale(0)}-->
<!--        to {-webkit-transform:scale(1)}-->
<!--    }-->

<!--    @keyframes zoom {-->
<!--        from {transform:scale(0)}-->
<!--        to {transform:scale(1)}-->
<!--    }-->

<!--    /* 关闭按钮 */-->
<!--    .close {-->
<!--        position: absolute;-->
<!--        top: 15px;-->
<!--        right: 35px;-->
<!--        color: #f1f1f1;-->
<!--        font-size: 40px;-->
<!--        font-weight: bold;-->
<!--        transition: 0.3s;-->
<!--    }-->

<!--    .close:hover,-->
<!--    .close:focus {-->
<!--        color: #bbb;-->
<!--        text-decoration: none;-->
<!--        cursor: pointer;-->
<!--    }-->

<!--    /* 小屏幕中图片宽度为 100% */-->
<!--    @media only screen and (max-width: 700px){-->
<!--        .modal-content {-->
<!--            width: 100%;-->
<!--        }-->
<!--    }-->
<!--</style>-->
{% endblock stylesheets %}

{% block content %}


    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-offset-1" style="margin-left: 5%; display: inline-block;line-height: 48px;color:darkgrey;font-size: 20px;">
                当前在线人数：
{#                <span id="online_number" style="font-size: 25px;color: #2c2c2c;font-family: 'Arial' ">#}
                    {{ user_num }}
{#                </span>#}


            </div>
            <button onclick="myClick()" id="my" style="float:right; display: none" class="btn btn-warning">重部署</button>
<!--            <button onclick="serverClick()" id="myImg" style="float:right; display: none" alt="文本描述信息" class="btn btn-success">显示重部署服务器任务图</button>-->
            <button type="button" id="showModal" style="float:right; display: none;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              显示重部署服务器微服务列表
            </button>

            <!-- Modal -->
            <div id="exampleModalCenter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<!--            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">重部署微服务列表</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>服务器编号</th>
                                <th>微服务名</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for node in node_list %}
                                <tr>
                                    <td>3</td>
                                    <td>多库分解查询代理</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>装备库查询</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>指挥官库查询</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>部队建制库查询</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>查询信息综合</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>A战区情报处理服务</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- 弹窗 -->
            <div id="myModal" class="modal">

              <!-- 关闭按钮 -->
              <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

              <!-- 弹窗内容 -->
              <img class="modal-content" id="img01">

              <!-- 文本描述 -->
              <div id="caption"></div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" id="list" style="display: none">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>重部署服务器资源列表 </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>服务器编号</th>
                                <th>可用CPU资源</th>
                                <th>可用RAM资源</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for node in node_list %}
                                <tr>
                                    <td>3</td>
                                    <td>800</td>
                                    <td>100</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row" >
                <div class="col-md-12" >
                    <div class="panel panel-body" >
                        <div class="row" >
                            <div class="col-xs-4" style="margin-left: 10%;">
                                  <span class="chart" data-percent={{ cpu_ratio }}>CPU
                  </span>
                                <span style="font-weight: bold; margin-left: 5%; font-family: 'Adobe Caslon Pro Bold'; font-size: 35px">CPU: &nbsp;&nbsp; {{ cpu_ratio }}%</span>
                            </div>
                            <div class="col-xs-4" style="margin-left: 10%;">
                  <span class="chart" data-percent={{ mem_ratio }}>Mem

                  </span>
                                <span style="font-weight: bold; margin-left: 5%; font-family: 'Adobe Caslon Pro Bold'; font-size: 35px">MEM: &nbsp;&nbsp; {{ mem_ratio }}%</span>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" style="position: absolute;top: 0;z-index: -1">
                <div class="row">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 25%">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px">Nodes</div>
                            <h3>{{ node_num }}</h3>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 25%">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px">Namespaces</div>
                            <h3>{{ ns_num }}</h3>
                            {#                            <h3>1</h3>#}
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 25%">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px">Services</div>
                            <h3>{{ service_num }}</h3>
                            {#                            <h3>1</h3>#}
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 25%">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px">Pods</div>
                            <h3>{{ pod_num }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>服务列表 </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>标签</th>
                                <th>集群IP</th>
                                <th>内部端点</th>
                                <th>外部端点</th>
                                <th>运行状态</th>
                                <th>运行时间</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for serv in service_list %}
                                <tr>
                                    <td>{{ serv.name }}</td>
                                    <td>{{ serv.tag }}</td>
                                    <td>{{ serv.cluster_ip }}</td>
                                    <td>{{ serv.port }}</td>
                                    <td>{{ serv.target_port }}</td>
                                    <td>{{ serv.running_status }}</td>
                                    <td>{{ serv.time }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>节点列表 </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            {#                <li class="dropdown">#}
                            {#                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>#}
                            {#                  <ul class="dropdown-menu" role="menu">#}
                            {#                    <li><a href="#">Settings 1</a>#}
                            {#                    </li>#}
                            {#                    <li><a href="#">Settings 2</a>#}
                            {#                    </li>#}
                            {#                  </ul>#}
                            {#                </li>#}
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>IP</th>
                                <th>可分配CPU(核)</th>
                                <th>总CPU(核)</th>
                                <th>可分配内存(Gi)</th>
                                <th>总内存(Gi)</th>
                                <th>微服务</th>
                            </tr>
                            </thead>


                            <tbody>
                            {% for node in node_list %}
                                <tr>
                                    <td>{{ node.name }}</td>
                                    <td>{{ node.ip }}</td>
                                    <td>{{ node.allocatable_cpu }}</td>
                                    <td>{{ node.capacity_cpu }}</td>
                                    <td>{{ node.allocatable_mem }}</td>
                                    <td>{{ node.capacity_mem }}</td>
                                    <td>{% for serv in service_list %}
                                        {{ serv.name }}
                                    {% endfor %}</td>
                                </tr>
                            {% endfor %}

                            {#                  <tr>#}
                            {#                    <td>localhost</td>#}
                            {#                    <td>127.0.0.1</td>#}
                            {#                    <td>8</td>#}
                            {#                    <td>7.992</td>#}
                            {#                    <td>16</td>#}
                            {#                    <td>15.84</td>#}
                            {#                  </tr>#}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Pod列表</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>命名空间</th>
                                <th>容器镜像</th>
                                <th>隶属节点</th>
                                <th>创建时间</th>
                                <th>运行状态</th>
                            </tr>
                            </thead>


                            <tbody>
                            {% for pod in pod_list %}
                                <tr>
                                    <td>{{ pod.name }}</td>
                                    <td>{{ pod.namespace }}</td>
                                    <td>{{ pod.image }}</td>
                                    <td>{{ pod.node }}</td>
                                    <td>{{ pod.create_time }}</td>
                                    {% if pod.phase == "Failed" or pod.phase == "Unknown" %}
                                        <td style="color: orangered">{{ pod.phase }}</td>
                                    {% else %}
                                        <td>{{ pod.phase }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {#                  <tr>#}
                            {#                    <td>client_1</td>#}
                            {#                    <td>default</td>#}
                            {#                    <td>localhost:5000/client:v2</td>#}
                            {#                    <td>localhost</td>#}
                            {#                    <td>2019-10-25 11:41</td>#}
                            {#                    <td style="color: orangered">Unknown</td>#}
                            {#                  </tr>#}
                            {##}
                            {#                <tr>#}
                            {#                    <td>client_1</td>#}
                            {#                    <td>default</td>#}
                            {#                    <td>localhost:5000/client:v2</td>#}
                            {#                    <td>localhost</td>#}
                            {#                    <td>2019-10-25 11:41</td>#}
                            {#                    <td>Running</td>#}
                            {#                  </tr>#}
                            {##}
                            {#                <tr>#}
                            {#                    <td>server_1</td>#}
                            {#                    <td>default</td>#}
                            {#                    <td>localhost:5000/server:v2</td>#}
                            {#                    <td>localhost</td>#}
                            {#                    <td>2019-10-25 11:41</td>#}
                            {#                    <td>Running</td>#}
                            {#                  </tr>#}
                            {##}
                            {#                <tr>#}
                            {#                    <td>server_1</td>#}
                            {#                    <td>default</td>#}
                            {#                    <td>localhost:5000/server:v2</td>#}
                            {#                    <td>localhost</td>#}
                            {#                    <td>2019-10-25 11:41</td>#}
                            {#                    <td>Running</td>#}
                            {#                  </tr>#}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% if messages %}
                <script>
                    {% for msg in messages %}
                        alert('{{ msg.message }}');
                        document.getElementById("list").style.display ='';
                        document.getElementById("my").style.display ='';
<!--                        document.getElementById("myImg").style.display ='';-->
                        document.getElementById("showModal").style.display='';
                    {% endfor %}

                    function myClick()
                    {
                        swal({
                          title: "服务器3发生资源降级",
                          text: "是否对该服务器进行重部署",
                          type: "warning",
                          showCancelButton: true,
                          confirmButtonClass: "btn-info",
                          confirmButtonText: "是，重部署!",
                          cancelButtonText: "不，取消!",
                          closeOnConfirm: false,
                          closeOnCancel: false
                        },
                        function(isConfirm) {
                          if (isConfirm) {
                            swal("成功!", "产生重部署json文件file.json .", "success");
                            document.getElementById("list").style.display ='none';
                            document.getElementById("my").style.display ='none';
                            document.getElementById("myImg").style.display ='none';
                          } else {
                            swal("取消", "您的操作已经取消", "error");
                          }
                        });
                    }

<!--                    // 获取弹窗-->
<!--                    var modal = document.getElementById('myModal');-->

<!--                    // 获取图片插入到弹窗 - 使用 "alt" 属性作为文本部分的内容-->
<!--                    var img = document.getElementById('myImg');-->
<!--                    var modalImg = document.getElementById("img01");-->
<!--                    var captionText = document.getElementById("caption");-->
<!--                    img.onclick = function(){-->
<!--                        modal.style.display = "block";-->
<!--                        modalImg.src = "/static/images/micro_service_graph.jpg";-->
<!--                        captionText.innerHTML = "重部署任务图";-->
<!--                    }-->

<!--                    // 获取 <span> 元素，设置关闭按钮-->
<!--                    var span = document.getElementsByClassName("close")[0];-->

<!--                    // 当点击 (x), 关闭弹窗-->
<!--                    span.onclick = function() {-->
<!--                      modal.style.display = "none";-->
<!--                    }-->
                </script>
            {% endif %}

            {#      <div class="col-md-12 col-sm-12 col-xs-12">#}
            {#        <div class="dashboard_graph">#}
            {##}
            {#          <div class="row x_title">#}
            {#            <div class="col-md-6">#}
            {#              <h3>Network Activities <small>Graph title sub-title</small></h3>#}
            {#            </div>#}
            {#            <div class="col-md-6">#}
            {#              <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">#}
            {#                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>#}
            {#                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>#}
            {#              </div>#}
            {#            </div>#}
            {#          </div>#}
            {##}
            {#          <div class="col-md-9 col-sm-9 col-xs-12">#}
            {#            <div id="chart_plot_01" data-stuff='["a","b","c"]' class="demo-placeholder"></div>#}
            {#          </div>#}
            {##}
            {#          <div class="col-md-3 col-sm-3 col-xs-12 bg-white">#}
            {#            <div class="x_title">#}
            {#              <h2>Top Campaign Performance</h2>#}
            {#              <div class="clearfix"></div>#}
            {#            </div>#}
            {##}
            {#            <div class="col-md-12 col-sm-12 col-xs-6">#}
            {#              <div>#}
            {#                <p>Facebook Campaign</p>#}
            {#                <div class="">#}
            {#                  <div class="progress progress_sm" style="width: 76%;">#}
            {#                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="99"></div>#}
            {#                  </div>#}
            {#                </div>#}
            {#              </div>#}
            {#              <div>#}
            {#                <p>Twitter Campaign</p>#}
            {#                <div class="">#}
            {#                  <div class="progress progress_sm" style="width: 76%;">#}
            {#                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>#}
            {#                  </div>#}
            {#                </div>#}
            {#              </div>#}
            {#            </div>#}
            {#            <div class="col-md-12 col-sm-12 col-xs-6">#}
            {#              <div>#}
            {#                <p>Conventional Media</p>#}
            {#                <div class="">#}
            {#                  <div class="progress progress_sm" style="width: 76%;">#}
            {#                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>#}
            {#                  </div>#}
            {#                </div>#}
            {#              </div>#}
            {#              <div>#}
            {#                <p>Bill boards</p>#}
            {#                <div class="">#}
            {#                  <div class="progress progress_sm" style="width: 76%;">#}
            {#                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>#}
            {#                  </div>#}
            {#                </div>#}
            {#              </div>#}
            {#            </div>#}
            {##}
            {#          </div>#}
            {##}
            {#          <div class="clearfix"></div>#}
            {#        </div>#}
            {#      </div>#}
        </div>

        <br/>

        {#    <div class="row">#}
        {##}
        {#      <div class="col-md-4 col-sm-4 col-xs-12">#}
        {#        <div class="x_panel tile fixed_height_320">#}
        {#          <div class="x_title">#}
        {#            <h2>App Versions</h2>#}
        {#            <ul class="nav navbar-right panel_toolbox">#}
        {#              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>#}
        {#              </li>#}
        {#              <li class="dropdown">#}
        {#                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>#}
        {#                <ul class="dropdown-menu" role="menu">#}
        {#                  <li><a href="#">Settings 1</a>#}
        {#                  </li>#}
        {#                  <li><a href="#">Settings 2</a>#}
        {#                  </li>#}
        {#                </ul>#}
        {#              </li>#}
        {#              <li><a class="close-link"><i class="fa fa-close"></i></a>#}
        {#              </li>#}
        {#            </ul>#}
        {#            <div class="clearfix"></div>#}
        {#          </div>#}
        {#          <div class="x_content">#}
        {#            <h4>App Usage across versions</h4>#}
        {#            <div class="widget_summary">#}
        {#              <div class="w_left w_25">#}
        {#                <span>0.1.5.2</span>#}
        {#              </div>#}
        {#              <div class="w_center w_55">#}
        {#                <div class="progress">#}
        {#                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">#}
        {#                    <span class="sr-only">60% Complete</span>#}
        {#                  </div>#}
        {#                </div>#}
        {#              </div>#}
        {#              <div class="w_right w_20">#}
        {#                <span>123k</span>#}
        {#              </div>#}
        {#              <div class="clearfix"></div>#}
        {#            </div>#}
        {##}
        {#            <div class="widget_summary">#}
        {#              <div class="w_left w_25">#}
        {#                <span>0.1.5.3</span>#}
        {#              </div>#}
        {#              <div class="w_center w_55">#}
        {#                <div class="progress">#}
        {#                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">#}
        {#                    <span class="sr-only">60% Complete</span>#}
        {#                  </div>#}
        {#                </div>#}
        {#              </div>#}
        {#              <div class="w_right w_20">#}
        {#                <span>53k</span>#}
        {#              </div>#}
        {#              <div class="clearfix"></div>#}
        {#            </div>#}
        {#            <div class="widget_summary">#}
        {#              <div class="w_left w_25">#}
        {#                <span>0.1.5.4</span>#}
        {#              </div>#}
        {#              <div class="w_center w_55">#}
        {#                <div class="progress">#}
        {#                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">#}
        {#                    <span class="sr-only">60% Complete</span>#}
        {#                  </div>#}
        {#                </div>#}
        {#              </div>#}
        {#              <div class="w_right w_20">#}
        {#                <span>23k</span>#}
        {#              </div>#}
        {#              <div class="clearfix"></div>#}
        {#            </div>#}
        {#            <div class="widget_summary">#}
        {#              <div class="w_left w_25">#}
        {#                <span>0.1.5.5</span>#}
        {#              </div>#}
        {#              <div class="w_center w_55">#}
        {#                <div class="progress">#}
        {#                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">#}
        {#                    <span class="sr-only">60% Complete</span>#}
        {#                  </div>#}
        {#                </div>#}
        {#              </div>#}
        {#              <div class="w_right w_20">#}
        {#                <span>3k</span>#}
        {#              </div>#}
        {#              <div class="clearfix"></div>#}
        {#            </div>#}
        {#            <div class="widget_summary">#}
        {#              <div class="w_left w_25">#}
        {#                <span>0.1.5.6</span>#}
        {#              </div>#}
        {#              <div class="w_center w_55">#}
        {#                <div class="progress">#}
        {#                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">#}
        {#                    <span class="sr-only">60% Complete</span>#}
        {#                  </div>#}
        {#                </div>#}
        {#              </div>#}
        {#              <div class="w_right w_20">#}
        {#                <span>1k</span>#}
        {#              </div>#}
        {#              <div class="clearfix"></div>#}
        {#            </div>#}
        {##}
        {#          </div>#}
        {#        </div>#}
        {#      </div>#}
        {##}
        {#      <div class="col-md-4 col-sm-4 col-xs-12">#}
        {#        <div class="x_panel tile fixed_height_320 overflow_hidden">#}
        {#          <div class="x_title">#}
        {#            <h2>Device Usage</h2>#}
        {#            <ul class="nav navbar-right panel_toolbox">#}
        {#              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>#}
        {#              </li>#}
        {#              <li class="dropdown">#}
        {#                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>#}
        {#                <ul class="dropdown-menu" role="menu">#}
        {#                  <li><a href="#">Settings 1</a>#}
        {#                  </li>#}
        {#                  <li><a href="#">Settings 2</a>#}
        {#                  </li>#}
        {#                </ul>#}
        {#              </li>#}
        {#              <li><a class="close-link"><i class="fa fa-close"></i></a>#}
        {#              </li>#}
        {#            </ul>#}
        {#            <div class="clearfix"></div>#}
        {#          </div>#}
        {#          <div class="x_content">#}
        {#            <table class="" style="width:100%">#}
        {#              <tr>#}
        {#                <th style="width:37%;">#}
        {#                  <p>Top 5</p>#}
        {#                </th>#}
        {#                <th>#}
        {#                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">#}
        {#                    <p class="">Device</p>#}
        {#                  </div>#}
        {#                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">#}
        {#                    <p class="">Progress</p>#}
        {#                  </div>#}
        {#                </th>#}
        {#              </tr>#}
        {#              <tr>#}
        {#                <td>#}
        {#                  <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>#}
        {#                </td>#}
        {#                <td>#}
        {#                  <table class="tile_info">#}
        {#                    <tr>#}
        {#                      <td>#}
        {#                        <p><i class="fa fa-square blue"></i>IOS </p>#}
        {#                      </td>#}
        {#                      <td>30%</td>#}
        {#                    </tr>#}
        {#                    <tr>#}
        {#                      <td>#}
        {#                        <p><i class="fa fa-square green"></i>Android </p>#}
        {#                      </td>#}
        {#                      <td>10%</td>#}
        {#                    </tr>#}
        {#                    <tr>#}
        {#                      <td>#}
        {#                        <p><i class="fa fa-square purple"></i>Blackberry </p>#}
        {#                      </td>#}
        {#                      <td>20%</td>#}
        {#                    </tr>#}
        {#                    <tr>#}
        {#                      <td>#}
        {#                        <p><i class="fa fa-square aero"></i>Symbian </p>#}
        {#                      </td>#}
        {#                      <td>15%</td>#}
        {#                    </tr>#}
        {#                    <tr>#}
        {#                      <td>#}
        {#                        <p><i class="fa fa-square red"></i>Others </p>#}
        {#                      </td>#}
        {#                      <td>30%</td>#}
        {#                    </tr>#}
        {#                  </table>#}
        {#                </td>#}
        {#              </tr>#}
        {#            </table>#}
        {#          </div>#}
        {#        </div>#}
        {#      </div>#}
        {##}
        {##}
        {#      <div class="col-md-4 col-sm-4 col-xs-12">#}
        {#        <div class="x_panel tile fixed_height_320">#}
        {#          <div class="x_title">#}
        {#            <h2>Quick Settings</h2>#}
        {#            <ul class="nav navbar-right panel_toolbox">#}
        {#              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>#}
        {#              </li>#}
        {#              <li class="dropdown">#}
        {#                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>#}
        {#                <ul class="dropdown-menu" role="menu">#}
        {#                  <li><a href="#">Settings 1</a>#}
        {#                  </li>#}
        {#                  <li><a href="#">Settings 2</a>#}
        {#                  </li>#}
        {#                </ul>#}
        {#              </li>#}
        {#              <li><a class="close-link"><i class="fa fa-close"></i></a>#}
        {#              </li>#}
        {#            </ul>#}
        {#            <div class="clearfix"></div>#}
        {#          </div>#}
        {#          <div class="x_content">#}
        {#            <div class="dashboard-widget-content">#}
        {#              <ul class="quick-list">#}
        {#                <li><i class="fa fa-calendar-o"></i><a href="#">Settings</a>#}
        {#                </li>#}
        {#                <li><i class="fa fa-bars"></i><a href="#">Subscription</a>#}
        {#                </li>#}
        {#                <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>#}
        {#                <li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>#}
        {#                </li>#}
        {#                <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>#}
        {#                <li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>#}
        {#                </li>#}
        {#                <li><i class="fa fa-area-chart"></i><a href="#">Logout</a>#}
        {#                </li>#}
        {#              </ul>#}
        {##}
        {#              <div class="sidebar-widget">#}
        {#                  <h4>Profile Completion</h4>#}
        {#                  <canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>#}
        {#                  <div class="goal-wrapper">#}
        {#                    <span id="gauge-text" class="gauge-value pull-left">0</span>#}
        {#                    <span class="gauge-value pull-left">%</span>#}
        {#                    <span id="goal-text" class="goal-value pull-right">100%</span>#}
        {#                  </div>#}
        {#              </div>#}
        {#            </div>#}
        {#          </div>#}
        {#        </div>#}
        {#      </div>#}
        {#    </div>#}

        {#    <div class="row">#}
        {##}
        {##}
        {##}
        {#      <div class="col-md-8 col-sm-8 col-xs-12">#}
        {##}
        {#        <div class="row">#}
        {##}
        {#          <div class="col-md-12 col-sm-12 col-xs-12">#}
        {#            <div class="x_panel">#}
        {#              <div class="x_title">#}
        {#                <h2>Visitors location <small>geo-presentation</small></h2>#}
        {#                <ul class="nav navbar-right panel_toolbox">#}
        {#                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>#}
        {#                  </li>#}
        {#                  <li class="dropdown">#}
        {#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>#}
        {#                    <ul class="dropdown-menu" role="menu">#}
        {#                      <li><a href="#">Settings 1</a>#}
        {#                      </li>#}
        {#                      <li><a href="#">Settings 2</a>#}
        {#                      </li>#}
        {#                    </ul>#}
        {#                  </li>#}
        {#                  <li><a class="close-link"><i class="fa fa-close"></i></a>#}
        {#                  </li>#}
        {#                </ul>#}
        {#                <div class="clearfix"></div>#}
        {#              </div>#}
        {#              <div class="x_content">#}
        {#                <div class="dashboard-widget-content">#}
        {#                  <div class="col-md-4 hidden-small">#}
        {#                    <h2 class="line_30">125.7k Views from 60 countries</h2>#}
        {##}
        {#                    <table class="countries_list">#}
        {#                      <tbody>#}
        {#                        <tr>#}
        {#                          <td>United States</td>#}
        {#                          <td class="fs15 fw700 text-right">33%</td>#}
        {#                        </tr>#}
        {#                        <tr>#}
        {#                          <td>France</td>#}
        {#                          <td class="fs15 fw700 text-right">27%</td>#}
        {#                        </tr>#}
        {#                        <tr>#}
        {#                          <td>Germany</td>#}
        {#                          <td class="fs15 fw700 text-right">16%</td>#}
        {#                        </tr>#}
        {#                        <tr>#}
        {#                          <td>Spain</td>#}
        {#                          <td class="fs15 fw700 text-right">11%</td>#}
        {#                        </tr>#}
        {#                        <tr>#}
        {#                          <td>Britain</td>#}
        {#                          <td class="fs15 fw700 text-right">10%</td>#}
        {#                        </tr>#}
        {#                      </tbody>#}
        {#                    </table>#}
        {#                  </div>#}
        {#                  <div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="height:230px;"></div>#}
        {#                </div>#}
        {#              </div>#}
        {#            </div>#}
        {#          </div>#}
        {##}
        {#        </div>#}
        {#        <div class="row">#}
        {##}
        {##}
        {#          <!-- Start to do list -->#}
        {#          <div class="col-md-6 col-sm-6 col-xs-12">#}
        {#            <div class="x_panel">#}
        {#              <div class="x_title">#}
        {#                <h2>To Do List <small>Sample tasks</small></h2>#}
        {#                <ul class="nav navbar-right panel_toolbox">#}
        {#                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>#}
        {#                  </li>#}
        {#                  <li class="dropdown">#}
        {#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>#}
        {#                    <ul class="dropdown-menu" role="menu">#}
        {#                      <li><a href="#">Settings 1</a>#}
        {#                      </li>#}
        {#                      <li><a href="#">Settings 2</a>#}
        {#                      </li>#}
        {#                    </ul>#}
        {#                  </li>#}
        {#                  <li><a class="close-link"><i class="fa fa-close"></i></a>#}
        {#                  </li>#}
        {#                </ul>#}
        {#                <div class="clearfix"></div>#}
        {#              </div>#}
        {#              <div class="x_content">#}
        {##}
        {#                <div class="">#}
        {#                  <ul class="to_do">#}
        {#                    <li>#}
        {#                      <p>#}
        {#                        <input type="checkbox" class="flat"> Schedule meeting with new client </p>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                      <p>#}
        {#                        <input type="checkbox" class="flat"> Create email address for new intern</p>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                      <p>#}
        {#                        <input type="checkbox" class="flat"> Have IT fix the network printer</p>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                      <p>#}
        {#                        <input type="checkbox" class="flat"> Copy backups to offsite location</p>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                      <p>#}
        {#                        <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                      <p>#}
        {#                        <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                      <p>#}
        {#                        <input type="checkbox" class="flat"> Create email address for new intern</p>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                      <p>#}
        {#                        <input type="checkbox" class="flat"> Have IT fix the network printer</p>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                      <p>#}
        {#                        <input type="checkbox" class="flat"> Copy backups to offsite location</p>#}
        {#                    </li>#}
        {#                  </ul>#}
        {#                </div>#}
        {#              </div>#}
        {#            </div>#}
        {#          </div>#}
        {#          <!-- End to do list -->#}
        {##}
        {#          <!-- start of weather widget -->#}
        {#          <div class="col-md-6 col-sm-6 col-xs-12">#}
        {#            <div class="x_panel">#}
        {#              <div class="x_title">#}
        {#                <h2>Daily active users <small>Sessions</small></h2>#}
        {#                <ul class="nav navbar-right panel_toolbox">#}
        {#                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>#}
        {#                  </li>#}
        {#                  <li class="dropdown">#}
        {#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>#}
        {#                    <ul class="dropdown-menu" role="menu">#}
        {#                      <li><a href="#">Settings 1</a>#}
        {#                      </li>#}
        {#                      <li><a href="#">Settings 2</a>#}
        {#                      </li>#}
        {#                    </ul>#}
        {#                  </li>#}
        {#                  <li><a class="close-link"><i class="fa fa-close"></i></a>#}
        {#                  </li>#}
        {#                </ul>#}
        {#                <div class="clearfix"></div>#}
        {#              </div>#}
        {#              <div class="x_content">#}
        {#                <div class="row">#}
        {#                  <div class="col-sm-12">#}
        {#                    <div class="temperature"><b>Monday</b>, 07:30 AM#}
        {#                      <span>F</span>#}
        {#                      <span><b>C</b></span>#}
        {#                    </div>#}
        {#                  </div>#}
        {#                </div>#}
        {#                <div class="row">#}
        {#                  <div class="col-sm-4">#}
        {#                    <div class="weather-icon">#}
        {#                      <canvas height="84" width="84" id="partly-cloudy-day"></canvas>#}
        {#                    </div>#}
        {#                  </div>#}
        {#                  <div class="col-sm-8">#}
        {#                    <div class="weather-text">#}
        {#                      <h2>Texas <br><i>Partly Cloudy Day</i></h2>#}
        {#                    </div>#}
        {#                  </div>#}
        {#                </div>#}
        {#                <div class="col-sm-12">#}
        {#                  <div class="weather-text pull-right">#}
        {#                    <h3 class="degrees">23</h3>#}
        {#                  </div>#}
        {#                </div>#}
        {##}
        {#                <div class="clearfix"></div>#}
        {##}
        {#                <div class="row weather-days">#}
        {#                  <div class="col-sm-2">#}
        {#                    <div class="daily-weather">#}
        {#                      <h2 class="day">Mon</h2>#}
        {#                      <h3 class="degrees">25</h3>#}
        {#                      <canvas id="clear-day" width="32" height="32"></canvas>#}
        {#                      <h5>15 <i>km/h</i></h5>#}
        {#                    </div>#}
        {#                  </div>#}
        {#                  <div class="col-sm-2">#}
        {#                    <div class="daily-weather">#}
        {#                      <h2 class="day">Tue</h2>#}
        {#                      <h3 class="degrees">25</h3>#}
        {#                      <canvas height="32" width="32" id="rain"></canvas>#}
        {#                      <h5>12 <i>km/h</i></h5>#}
        {#                    </div>#}
        {#                  </div>#}
        {#                  <div class="col-sm-2">#}
        {#                    <div class="daily-weather">#}
        {#                      <h2 class="day">Wed</h2>#}
        {#                      <h3 class="degrees">27</h3>#}
        {#                      <canvas height="32" width="32" id="snow"></canvas>#}
        {#                      <h5>14 <i>km/h</i></h5>#}
        {#                    </div>#}
        {#                  </div>#}
        {#                  <div class="col-sm-2">#}
        {#                    <div class="daily-weather">#}
        {#                      <h2 class="day">Thu</h2>#}
        {#                      <h3 class="degrees">28</h3>#}
        {#                      <canvas height="32" width="32" id="sleet"></canvas>#}
        {#                      <h5>15 <i>km/h</i></h5>#}
        {#                    </div>#}
        {#                  </div>#}
        {#                  <div class="col-sm-2">#}
        {#                    <div class="daily-weather">#}
        {#                      <h2 class="day">Fri</h2>#}
        {#                      <h3 class="degrees">28</h3>#}
        {#                      <canvas height="32" width="32" id="wind"></canvas>#}
        {#                      <h5>11 <i>km/h</i></h5>#}
        {#                    </div>#}
        {#                  </div>#}
        {#                  <div class="col-sm-2">#}
        {#                    <div class="daily-weather">#}
        {#                      <h2 class="day">Sat</h2>#}
        {#                      <h3 class="degrees">26</h3>#}
        {#                      <canvas height="32" width="32" id="cloudy"></canvas>#}
        {#                      <h5>10 <i>km/h</i></h5>#}
        {#                    </div>#}
        {#                  </div>#}
        {#                  <div class="clearfix"></div>#}
        {#                </div>#}
        {#              </div>#}
        {#            </div>#}
        {##}
        {#          </div>#}
        {#          <!-- end of weather widget -->#}
        {#        </div>#}
        {#      </div>#}
        {#    </div>#}
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Chart.js -->
    <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- Skycons -->
    <script src="/static/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/static/vendors/Flot/jquery.flot.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/static/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
    <!-- jQuery Sparklines -->
    <script src="/static/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- JQVMap -->
    <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.usa.js"></script>
    <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- easy-pie-chart -->
    <script src="/static/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script src="/static/sweetalert/sweetalert.min.js"></script>
{% endblock javascripts %}
