{% extends "base_site.html" %}

{% block title %} Service {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                                              <span class="chart" data-percent={{ cpu_ratio }}>CPU
{#                            <span class="chart" data-percent=98>cpu#}
{#                    <span class="percent"></span>#}
                  </span>
                            <span style="font-weight: bold; margin-left: 5%; font-family: 'Adobe Caslon Pro Bold'; font-size: 35px">CPU: &nbsp;&nbsp;{{ cpu_ratio }}%</span>
                        </div>
                        <div class="col-xs-6">
                                              <span class="chart" data-percent={{ mem_ratio }}>Mem
{#                            <span class="chart" data-percent=94>Mem#}
{#                    <span class="percent"></span>#}
                  </span>
                            <span style="font-weight: bold; margin-left: 5%; font-family: 'Adobe Caslon Pro Bold'; font-size: 35px">MEM: &nbsp;&nbsp; {{ mem_ratio }}%</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>服务列表 </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        {#                <li class="dropdown">#}
                        {#                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>#}
                        {#                  <ul class="dropdown-menu" role="menu">#}
                        {#                    <li><a href="#">Settings 1</a>#}
                        {#                    </li>#}
                        {#                    <li><a href="#">Settings 2</a>#}
                        {#                    </li>#}
                        {#                  </ul>#}
                        {#                </li>#}
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>标签</th>
                            <th>集群IP</th>
                            <th>内部端点</th>
                            <th>外部端点</th>
                            <th>运行状态</th>
                            <th>运行时间</th>
                        </tr>
                        </thead>


                        <tbody>
                        {% for serv in service_list %}
                            <tr>
                                <td>{{ serv.name }}</td>
                                <td>{{ serv.tag }}</td>
                                <td>{{ serv.cluster_ip }}</td>
                                <td>{{ serv.port }}</td>
                                <td>{{ serv.target_port }}</td>
                                {% if serv.running_status == "异常" %}
                                    <td style="color: orangered">{{ serv.running_status }}</td>
                                {% else %}
                                    <td>{{ serv.running_status }}</td>
                                {% endif %}

                                <td>{{ serv.time }}</td>
                            </tr>

                        {% endfor %}
{#                        <tr>#}
{#                            <td>service1</td>#}
{#                            <td>local-socker</td>#}
{#                            <td>10.0.54.239</td>#}
{#                            <td>80</td>#}
{#                            <td>88</td>#}
{#                            <td style="color: orangered">异常</td>#}
{#                            <td>30M:21S</td>#}
{#                        </tr>#}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Chart.js -->
    <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- Skycons -->
    <script src="/static/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/static/vendors/Flot/jquery.flot.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/static/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
    <!-- jQuery Sparklines -->
    <script src="/static/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- JQVMap -->
    <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.usa.js"></script>
    <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- easy-pie-chart -->
    <script src="/static/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
{% endblock javascripts %}