{% extends "base_site.html" %}

{% block title %} Form Buttons {% endblock title %}

{% block content %}
    <div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>吞吐量测试 </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <button type="button" class="btn btn-primary">Primary</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>时延测试 </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <button type="button" class="btn btn-primary">Primary</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>XML测试 </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <button type="button" class="btn btn-primary">Primary</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock content %}
