{% extends "base_site.html" %}

{% block title %} Form Buttons {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/sweetalert/sweetalert.css">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>吞吐量测试 </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <button type="button" onclick="ttlClick()" class="btn btn-primary">测试</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>时延测试 </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <button type="button" onclick="syClick()" class="btn btn-primary">测试</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>XML测试 </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <button type="button" onclick="multiClick()" class="btn btn-primary">测试</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block javascripts %}
<script src="/static/sweetalert/sweetalert.min.js"></script>
<script>
    function ttlClick()
    {
        swal("吞吐量(tps): {{ttl}}", "吞吐量 = 访问次数/时间")
    }

    function syClick()
    {
        swal("时延测试：{{sec}} ms")
    }

    function multiClick()
    {
        swal("{{msg}}")
    }
</script>
{% endblock javascripts %}